@media screen and (min-width: 992px) {
   

    #student{
background-image: url('student.png');
border-color: 1px solid blue;
border-radius: 50px;
height:650px;
width:90%;
background-size: cover;
margin-left: auto;
margin-right: auto;


    }

#studentbox{
    PADDING:4%;background-color:white;border-radius:25px;opacity:0.6;
    width:100%;
    position: relative;
    margin-left:5%;
top:400px;

}

#buttons{
position:relative;
top:200px;
float:right;
margin-right:10%;


}

#button1{
    background-color: white;
    border:2px solid #007FEB;
    color:#007FEB;
    height:100px;
    width:400px;
    margin-bottom:4px;
    border-radius: 10px;
    font-size:32px;
    font-weight: BOLD;
    
transition: 1s;

}
#button1:hover{
    border-radius: 25px;
    background-color: #009999;
    border:2px solid #007FEB;
    color:white;

}
#button2{
    background-color: #007FEB;
    border:2px solid #007FEB;
    color:white;
    height:100px;
    font-weight: bold;
    width:400px;
    border-radius: 10px;
    font-size:32px;
    transition: 1s;
    
}
#button2:hover{
    background-color:#009999;
color:white;
border:2px solid #4da6ff;
border-radius: 25px;
}

.vl {
    border-left: 6px solid grey;
    height: 100px;
    
  }




  #heading1{
    font-size:50px;
    
    font-weight: bold;
    text-align: center;
    color:BLACK;

}
    .hl{
        margin-top:3%;

        border-top:6px solid grey;
        margin-right:auto;
        margin-left:auto;
        width:50%;
    }

    #card1{
        width:130%;
        font-weight: bold;;
    }
    .legend3{
        display:none;
    }

#projectcard{
    height:600px;
    margin-left: auto;margin-right: auto;text-align:center;background-color:  rgba(235, 234, 234, 0.973); padding:3%;width:90%;border-radius: 75px;font-weight: bold;
}
#legend1{
    height:250px;width:300px;
}
#modulescard{
    height:600px;
    margin-left: auto;margin-right: auto;text-align:center;background-color: rgba(235, 234, 234, 0.973); padding:3%;width:90%;border-radius: 75px;font-weight: bold;
}


#headerp{
    font-size:20px;
}

#table3row {
width:400px;
    
}
    .legend2{
        display: none;
    }
    
    #iottable{
        border-collapse: separate;
        border-spacing: 10px;color:#302f2f;font-size:30px;font-family: Sofia;
    }

    #card4{
        height:750px;
       
    }
    .divider2{
        border-left: 6px solid grey;
        height: 530px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
      
    }
    .lastlogo{
        width:100px;
        height:100px;
    }
    #b{
        height:120px;
        width:120px;
        
            }
    .btn-primary{
        height:150px;
        border-radius: 25px;
    }
.legendheading{
 position:relative;
 top:0px;
}
















#header {

    list-style-type: none;
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    
    overflow: hidden;
    width:100%;
   background-color:#007FEB;
   margin-bottom: 3%;;
  }
  
  #logo{
      height: 50px;
      width:169px;

  }
  #logoimg{
    height: 50px;
    width:50px;

  }
  .lastimg{
      height:200px;
      width:450px;
  }


#tableb{
    color:white;font-weight:bold;
    font-size:20px;
}
  #cart{
    height:50px;
    width:90px;  
  }
  #profile{
    height:50px;
    width:90px;     
   }
   
  li{
      height:100%;
  }
  .menuitem {
    float: left;
    margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  
  }
  #brand{
    padding:10px 6px;
  }

  .menuitem a {
font-size: 25px;
font-family: 'Berkshire Swash';
    display: block;
    color: white;
    height: 100%;
    text-align: center;
    padding-top:12px;
    padding-bottom: 12px;;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#0080ff;
    text-decoration: none;
    color:white;
  }


  .table3{
    width:80%;
}





#c{
    height:80px;
    width:80px;
}
#btn2{
    height:150px;
    width:150px;
    border-radius:25px;
}
#buttonheading2{
    font-size:20px;
}
#btnrow2{
    width:65%;
}

}











#lastcol1{
    margin-right:30%;
}

















.fa {
    
height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

    
    transition: 1s;
  }
  
  .fa:hover {
      opacity: 0.7;

 
font-size:23px;

    }
  
  .fa-facebook {
    background: white;
    color: #007FEB;
  }

  
  .fa-linkedin {
    background: white;
    color: #007FEB;
  }

  .fa-instagram {
    background: white;
    color:#007FEB;
  }
  